<div>
  <div data-katacoda-layout="iframe" data-katacoda-id="katacoda/create-first-scenario" data-katacoda-color="004d7f" data-katacoda-hidefinish="false"  data-katacoda-hideintro="false" data-katacoda-ctatext="More Docs" data-katacoda-ctaurl="/docs" style="height:calc(100% - 68px)"></div>
</div>

<script src="/embed.js"></script>
