<div id="docs-page" class="container">
  <div class="docs">
    <h3 class="">Introduction</h3>
    <h4>Katacoda is a tool to create real environments for learning about information technology. Each student can acces to a new environment any time he wants without the need to install all the required component by himself. Katacoda also provides isolation for each student, so he can explore and push the limits of his learning skills without worry about breaking the environment for fellow students. Normally, each environment that has been created can run the latest version of any software you can bring to a Docker instance. This deployment is a self contained environment that provides everything the studen could need to be successful in learning with the platform. This includes such things as the command line, web console, and public URLs.</h4>
  </div>

  <div class="docs">
    <h3 class="">How it works?</h3>
    <h4>During the training course, the student will be using a hosted environment that is created just for him. This environment is not shared with other users of the system. Because each user taking this training has their own environment, we had to make some concessions to ensure the overall platform is stable and used only for this training. For that reason, each environment will only be active for a one hour period. Keep this in mind before embarking on design the content of each course. Each time the student reload the web, a new environment will be created on the fly.</h4>
  </div>

  <div class="col s12 center">
    <h2 class="">Katacoda Documentation</h2>
    <h4>Creating your first Katacoda Interactive scenario? Complete one of our two interactive scenarios below.</h4>
    <div class="">
      <a href="/docs/create-first-scenario/git" class="primary-btn btn">Learn how to use Git to create scenarios</a>
      <a href="/docs/create-first-scenario/editor" class="primary-btn btn">Learn how to use Web Based Editor to create scenarios</a>
    </div>
  </div>
  <div class="col s12 docs">
    <h3 class="">Katacoda Guides</h3>
    <h4>Find more information about how to customise your interactive scenarios using our guides.</h4>
    <div class="">
      <div class="col s3 doc">
        <a href="/docs/scenarios/index-json">Understanding Katacoda's index.json</a>
      </div>
      <div class="col s3 doc">
        <a href="/docs/scenarios/layouts">What layouts can I use?</a>
      </div>
      <div class="col s3 doc">
        <a href="/docs/scenarios/environments">What environments can I use?</a>
      </div>
      <div class="col s3 doc">
        <a href="/docs/scenarios/pre-init">Pre-Existing Files / Execute Commands On Start</a>
      </div>
      <div class="col s3 doc">
        <a href="/docs/scenarios/markdown-syntax">Additional Markdown Syntax</a>
      </div>
      <div class="col s3 doc">
        <a href="/docs/scenarios/displaying-ports">Displaying Web UI and Accessing Ports</a>
      </div>
      <div class="col s3 doc">
        <a href="https://github.com/katacoda/scenario-example" target="_blank">Example Git Repository</a>
      </div>
      <p class="hidden"><a href="/docs/scenarios/environments#custom">Creating custom environments</a></p>
      <p class="hidden"><a href="/docs/scenarios/creating-courses">Creating courses and learning pathways</a></p>
    </div>
  </div>
  <div class="col s12">
    <h3 class="center">Support</h3>
    <h4>Are we missing something? Please contact <a href="mailto:support@katacoda.com">Support@Katacoda.com</a> and we'll happily provide you more information.</h4>
  </div>
</div>
