<div id="docs-page" class="container">
    <div class="col s12">
        <h2>Displaying Web UI and Accessing Ports</h2>
        <p>Katacoda allows ports running include the environment to be made available to users. This is designed for displaying dashboards and UI elements running inside a container.</p>
        <p>Within the markdown for a step, use a URL shown below that will be updated when the environment is connected.</p>
        <section>

          <h3>Markdown Example</h3>
          <pre>
Render port 8500: https://[[HOST_SUBDOMAIN]]-8500-[[KATACODA_HOST]].environments.katacoda.com/

Render port 80: https://[[HOST_SUBDOMAIN]]-80-[[KATACODA_HOST]].environments.katacoda.com/

Display page allowing user to select port:
https://[[HOST_SUBDOMAIN]]-[[KATACODA_HOST]].environments.katacoda.com/
          </pre>
            <h5>Additional Information</h5>
            <p><a href="/docs/scenarios/index-json">Understanding Katacoda's index.json</a></p>
        </section>
    </div>
</div>
