<div id="docs-page" class="container">
    <div class="col s12">
        <h2>What environments can I use?</h2>
        <p>Katacoda supports three allowing you to match the Katacoda layout to your content.</p>
        <section>
            <p>Supported environments are:</p>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th><strong>Environment</strong></th>
                        <th><strong>Image ID</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Docker</td>
                        <td>docker</td>
                    </tr>
                    <tr>
                        <td>Docker Swarm <i>*</i></td>
                        <td>swarm</td>
                    </tr>
                    <tr>
                        <td>Kubernetes</td>
                        <td>kubernetes</td>
                    </tr>
                    <tr>
                        <td>Kubernetes Cluster <i>*</i></td>
                        <td>kubernetes-cluster</td>
                    </tr>
                    <tr>
                        <td>CoreOS</td>
                        <td>coreos</td>
                    </tr>
                    <tr>
                        <td>Ubuntu</td>
                        <td>ubuntu</td>
                    </tr>
                    <tr>
                        <td>Ansible</td>
                        <td>ansible</td>
                    </tr>
                    <tr>
                        <td>Node.js v6</td>
                        <td>node6</td>
                    </tr>
                    <tr>
                        <td>Go</td>
                        <td>go</td>
                    </tr>
                    <tr>
                        <td>C#</td>
                        <td>c#</td>
                    </tr>
                    <tr>
                        <td>.Net Core</td>
                        <td>dotnet</td>
                    </tr>
                    <tr>
                        <td>Java</td>
                        <td>java8</td>
                    </tr>
                    <tr>
                        <td>Bash</td>
                        <td>bash</td>
                    </tr>
                </tbody>
            </table>
            <p><em>*</em> Requires UI layout terminal-terminal</p>
            <p>Within the scenario index.json file, the imageid can be defined under the backend node.</p>

            <h5>Additional Information</h5>
            <p><a href="/docs/scenarios/index-json">Understanding Katacoda's index.json</a></p>
            <p><a href="/docs/scenarios/layouts">What layouts can I use?</a></p>
            <p><a href="/docs/scenarios/pre-init">Pre-Existing Files / Execute Commands On Start</a></p>
        </section>
    </div>
</div>
