<div id="docs-page" class="container">
    <div class="col s12">
        <h2>What layouts can I use?</h2>
        <p>Katacoda supports three allowing you to match the Katacoda layout to your content.</p>
        <section>
            <p>Supported layouts are:</p>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th><strong>Layout</strong></th>
                        <th><strong>UI Layout ID in index.json</strong></th>
                        <th><strong>Example</strong></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Terminal</td>
                        <td>terminal</td>
                        <td><a href="/courses/docker/deploying-first-container" target="_blank">Link</a></td>
                    </tr>
                    <tr>
                        <td>2x Terminal Split</td>
                        <td>terminal-terminal</td>
                        <td><a href="/courses/docker-orchestration/getting-started-with-swarm-mode" target="_blank">Link</a></td>
                    </tr>
                    <tr>
                        <td>Terminal + Editor</td>
                        <td>terminal-editor</td>
                        <td><a href="/courses/docker/create-nginx-static-web-server" target="_blank">Link</a></td>
                    </tr>
                    <tr>
                        <td>Terminal + Editor for the embeded presentation</td>
                        <td>editor-terminal-split</td>
                        <td><a href=""https://kontena.io/learn/scenario1 target="_blank">Link</a></td>
                        <td>Make sure to include data-katacoda-layout="editor-terminal-split" in the html for the embeded code.</td>
                    </tr>
                    <tr>
                        <td>Terminal + Iframe (application inside the dashboard)</td>
                        <td>terminal-iframe</td>
                        <td><a href="/courses/jenkins/build-docker-images" target="_blank">Link</a></td>
                        <td><a href="https://github.com/katacoda-scenarios/jenkins-scenarios/blob/master/build-docker-images/index.json" target="_blank">Source</a></td>
                    </tr>
                </tbody>
            </table>

            <p>Within the scenario index.json file, the UI can be defined under the environment node.</p>

            <h5>Additional Information</h5>
            <p><a href="/docs/scenarios/index-json">Understanding Katacoda's index.json</a></p>
            <p><a href="/docs/scenarios/environments">What environments can I use?</a></p>
            <p><a href="/docs/scenarios/pre-init">Pre-Existing Files / Execute Commands On Start</a></p>
        </section>
    </div>
</div>
