<div id="docs-page" class="container">
    <div class="col s12">
        <h2>Additional Markdown Syntax</h2>
        <p>Katacoda has added extended markdown</p>
        <section>

          <h3>Markdown Example</h3>
          <pre>
Allow a code block to be executed `some-command`{{execute}}

For multiple terminals, execute the command on HOST1 `some-command`{{execute "HOST1"}}
For multiple terminals, execute the command on HOST2 `some-command`{{execute "HOST2"}}

Allow a code block to be copied `some-command`{{copy}}
          </pre>
            <h5>Additional Information</h5>
            <p><a href="/docs/scenarios/index-json">Understanding Katacoda's index.json</a></p>
        </section>
    </div>
</div>
